In [2]:
import pandas as pd
print(pd.__version__)

1.4.4

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
#creating a dictionary
mydataset = {'car': ["Tesla", "Audi", "BMW"],
             'year of make': [2004, 2007, 2020]
            }
#accessing the dictionary
myvar = pd.DataFrame(mydataset)
print(myvar)

     car  year of make
0  Tesla          2004
1   Audi          2007

In [9]:
#creating a tuple
colours = ("red","green","blue")
cl = pd.DataFrame(colours)
print(cl)

       0
0    red
1  green
2   blue

In [10]:
#creating a list using series
#series are single dimension array
#only columns
df = pd.Series([1,3,"Martha", 44, "Hellen"])
print(df)

0         1
1         3
2    Martha
3        44
4    Hellen
dtype: object

In [11]:
#creating a list
df = pd.DataFrame([1,3,"Martha", 44, "Hellen"])
print(df)

        0
0       1
1       3
2  Martha
3      44
4  Hellen

In [28]:
#creating a dictionary showing dates and days
#using tail()and head() to print last and first resp
mydic = {'day': ["Monday", "Tuesday", "Wednesday", "Thursday","Friday"],
             'date': ["01/01/2000","02/01/2000", "03/01/2000","04/01/2000","05/01/2000"]
            }
#accessing the dictionary
Dic = pd.Series(mydic)
print(Dic)

day        [Monday, Tuesday, Wednesday, Thursday, Friday]
date    [01/01/2000, 02/01/2000, 03/01/2000, 04/01/200...
dtype: object

In [30]:
dic = pd.DataFrame(mydic)
two = dic.head(n=2)
print(two)
#changing to series
print("-------------")
series = two.squeeze()
print(series)

       day        date
0   Monday  01/01/2000
1  Tuesday  02/01/2000
-------------
       day        date
0   Monday  01/01/2000
1  Tuesday  02/01/2000

Shoes ={
    "brand": "Nick",
    "color": "black",
    "size": 40
}
df1 = pd.Series(Shoes)
print(df1)
print(df1["brand"])

# Assignment for the t